*{
    font-family: 'Sawarabi Gothic', sans-serif;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-weight: bolder;
    
}

/* ==== BACKGROUND IMAGE ==== */
body {
    background-image: url(../Images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   /* background-color: black; */
}
.setting {
    background-color: black;
    opacity: .85;
    padding: 10px; 

}
/* === TIMER IN HEADER === */
.time {
    float: right;
}
.hide {
    display: none;
}
/* === POSITIONING GAME === */
#enter-btn,
#rules-page,
#questions-page,
#completed-quiz,
#high-scores {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
} 

h2 {
    text-align: center;
}

/* === STYLING BUTTONS === */

.choices {
    width: 400px; 
    background-color: tomato;
    padding: 10px;
    margin: 5px;
}

#enter-btn{
    background-color: tomato;
    width: auto;
    font-size: 30px;
    padding: 5px;
}


#yb-btn {
    width: auto;
    background-color: tomato;
    padding: 5px;
    float: right;
}

#sbmt-btn {
    background-color: tomato;
    width: 80px;
    padding: 5px;
}
.text-color {
    color: black;
}
#sbmt-btn {
    float: right;
}
#play-btn,
#clear-btn {
    background-color: tomato;
    width: 200px;
    
}
