*{
    font-family: 'Sawarabi Gothic', sans-serif;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-weight: bolder;
    
}

/* ==== BACKGROUND IMAGE ==== */
body {
    background-image: url(../Images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   /* background-color: black; */
}

/* === TIMER IN HEADER === */
.time {
    float: right;
}
.hide {
    display: none;
}
/* === POSITIONING GAME === */
#enter-btn,
#rules,
#questions,
#completed-quiz,
#high-scores {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
} */

h2 {
    text-align: center;
}

/* === STYLING BUTTONS === */
#yb-btn,
.choices {
    width: 400px; 
    background-color: tomato;
}

#enter-btn,
#sbmt-btn {
    background-color: tomato;
    width: 80px;
}
.text-color {
    color: black;
}
#play-btn,
#clear-btn {
    background-color: tomato;
    width: 200px;
}
